/* ==UserStyle==
@name         Mozilla Add-ons Dark
@description  A dark theme for Mozilla Add-ons (AMO).
@namespace    gitlab.com/maxigaz/amo-dark
@author       maxigaz
@homepageURL  https://gitlab.com/maxigaz/amo-dark
@updateURL    https://gitlab.com/maxigaz/amo-dark/raw/master/mozilla-addons-dark.user.css
@version      1.1.1
==/UserStyle== */

@-moz-document domain("addons.mozilla.org") {
	/* ===== General ===== */

	html, body {
		background: #283146;
		color: rgb(250, 250, 250);
	}

	.LandingPage-header, .Card-header, .Card-contents, .AddonsCard--horizontal .Card-contents {
		background: #1f2536;
	}

	.App-content {
		background: #283146;
	}

	/* Mouse hover on More… nav link */

	.DropdownMenu-items {
		background-color: #1f2536;
		border: 1px solid #181c2a;
	}

	.DropdownMenuItem-link a, .DropdownMenuItem-link a:link {
		color: #fff;
	}

	.DropdownMenuItem-link a:hover, .DropdownMenuItem-link a:active, .DropdownMenuItem-link a:focus {
		color: #0a84ff;
	}

	.DropdownMenuItem-section {
		color: #c7c7c7;
	}

	/* ===== Extensions main page ===== */
	
	.LandingPage {
		background: #283146;
	}

	.LandingPage-addonType-name {
		color: #fff;
	}

	.CardList ul > li {
		background: #1f2536;
	}

	.AddonsCard--horizontal ul.AddonsCard-list .SearchResult-link:focus, .AddonsCard--horizontal ul.AddonsCard-list .SearchResult-link:hover {
		background: #283046;
	}

	.SearchResult-name {
		color: #fff;
	}

	.SearchResult--meta-section {
		color: #d3e1ff;
	}

	/* ===== Explore page ===== */

	.Home-SubjectShelf-link:link, .Home-SubjectShelf-link:visited {
		color: #eee;
	}

	/* ===== Page of an extension ===== */

	.Addon-title {
		color: #fff;
	}

	.Badge {
		color: #e9e9e9;
	}

	.MetadataCard {
		background-color: #21273a;
	}

	.MetadataCard-list dt {
		color: #d2d2d2;
	}

	.Button--neutral, .Button--neutral:link {
		color: #f5f5f5;
	}

	.Card-footer-link, .Card-footer-text {
		background: #1f2536;
	}

	.ShowMoreCard-contents::after {
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#1F2536));
		background: linear-gradient(rgba(255, 255, 255, 0), #1F2536);
	}

	.AddonsByAuthorsCard.AddonsCard--horizontal .Card-contents .AddonsCard-list {
		background: #1f2536;
	}

	.Definition-dt {
		color: #c7c7c7;
	}

	/* Permissions */

	.PermissionsCard-subhead {
		color: #c7c7c7;
	}

	[dir="ltr"] .PermissionsCard-list li .Icon {
		filter: invert(90%);
	}

	/* Add to collection list button */

	.Select {
		background-color: #1d2232;
	}

	.Select.AddAddonToCollection-select {
		color: #d8d9db !important;
	}

	/* Search input field */

	.AutoSearchInput-query {
		background-color: #191f2d;
		border-color: #191f2d;
		color: #c1d0ff;
	}

	.AutoSearchInput-query:hover {
		border-color: #00c8d7;
	}

	.AutoSearchInput-icon-magnifying-glass {
		filter: invert(90%);
	}

	.AutoSearchInput-suggestions-list {
		background-color: #191f2d;
		color: #acb9e5;
	}

	/* ===== Extension reviews ===== */

	.AddonReviewList-header-authors a, .AddonReviewList-header-authors a:link {
		color: #aeaeae;
	}

	.AddonReviewListItem-byline {
		color: #c7c7c7;
	}

	.Button--light:not(.Button--disabled), .Button--light.Button--micro:not(.Button--disabled) {
		background-color: #1d2232;
		color: #e8e8e8;
	}

	.Button--light:not(.Button--disabled):hover, .Button--light.Button--micro:not(.Button--disabled):hover {
		background: #21273a;
	}

	/* ===== Search results ===== */

	h1, h2 {
		color: #fff;
	}

	.ExpandableCard-ToggleLink:link {
		color: #fafafa;
	}

	.SearchFilters-label {
		color: #c7c7c7;
	}

	.Select.SearchFilters-select {
		color: #fafafa !important;
	}

	.SearchResult-summary {
		color: #eee;
	}

	.Card-footer {
		background-color: #283146;
	}

	.Paginate {
		background-color: #283146;
	}

	.Paginate-page-number {
		color: #c7c7c7;
	}

	.Paginate .Button.Paginate-item--current-page {
		color: #eee;
	}

	.Paginate .Button.Paginate-item:hover, .Paginate .Button.Paginate-item:active {
		background-color: #1d2232;
	}

	.Paginate .Button.Paginate-item:first-child, .Paginate .Button.Paginate-item:last-child, .Paginate .Button.Paginate-item:link:first-child, .Paginate .Button.Paginate-item:link:last-child, .Paginate .Button.Paginate-item:visited:first-child, .Paginate .Button.Paginate-item:visited:last-child {
		color: #eee;
	}

}
